vendor/
node_modules/
storage/
bootstrap/cache/
.env
.env.example
/public/storage
/public/hot
/public/mix-manifest.json
/public/js
/public/css
/database/*.sqlite
/database/*.sqlite3
/.idea/
/.vscode/
/.DS_Store
/.phpunit.result.cache

